.slide__activities___wrapper,
.slide__prices___wrapper {
  overflow: hidden;
}

.slide__activities,
.slide__prices {
  display: flex;
  align-items: center;
  gap: 40px;
}

.slide__activities:hover,
.slide__prices:hover {
  will-change: transform;
}

.slide__activities li,
.slide__prices li {
  flex-shrink: 0;
}

.arrow-nav {
  display: flex;
  gap: 20px;
}
