/* RESET CSS */
@import "./reset.css";

/* MENU MOBILE */
@import "./origamid-menu.css";

/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif; */

/* CSS GLOBAL */
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* TITULO PADRÃO DAS SEÇÕES DO SITE */
.title {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* SUBTITULO PADRÃO DO SITE */

.subtitle {
  color: #141414;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* VARIAÇÕES DE COR DE TÍTULO E SUBTITULO */
.title--black,
.subtitle--black {
  color: #141414;
}

.title--white,
.subtitle--white {
  color: #fff;
}

.title__decorator,
.title--red,
.subtitle--red {
  color: #ff0000;
}

/* BOTÃO DE CHAMADA PARA MATRICULA */
.enrollmentCall__button {
  background: linear-gradient(#ff0000, #922f2f);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #ffdddd;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;

  transition: 0.3s;
}

.enrollmentCall__button:hover {
  background: #ff0000;
  color: #fff;
}

.enrollmentCall__button--d-inlineblock {
  display: inline-block;
}

/* HEADER */
.header {
  background: #141414;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 18px 0;
}

/* MENU PRINCIPAL DE NAVEGAÇÃO */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav__menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav__menu___item {
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.nav__menu___link {
  color: #fff;
  display: inline-block;
  padding: 16px 0;
  text-decoration: none;
  position: relative;
}

.nav__menu___link:hover,
.ativo {
  color: #ff0000;
}

.nav__menu___link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ff0000;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.nav__menu___link:hover::after,
.ativo::after {
  width: 100%;
}

/* INTRODUCAO */
.introduction {
  background: #141414;
  box-shadow: inset 0px -120px #fff;
  width: 100%;
  margin-bottom: 120px;
}

.introduction__container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 0 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.introduction__content {
  align-self: center;
}

.introduction__title {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.introduction__img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 32px;
}

/* MODALIDADES */
.activities {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.activities__container {
  box-sizing: border-box;
}

.activities__carousel {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities__carousel___list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.activities__carousel___item {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 300px;
  width: 280px;
  position: relative;
}

.activities__carousel___img {
  height: 100%;
  width: 100%;
}

.activities__carousel___tag {
  background: linear-gradient(#ff0000, #922f2f);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  padding: 26px 0;
  width: 100%;
}

.activities__carousel___tagName {
  color: #ffdddd;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.activities__carousel___btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.activities__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  margin: auto;
}

.activities__details___content {
  align-self: center;
}

.activities__details___paragraph {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #525252;
}

.activities__benefits___list {
  margin-bottom: 40px;
}

.activities__benefits___item {
  margin-bottom: 16px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  color: #525252;
  font-weight: 700;
  align-items: center;
  gap: 8px;
}

.activities__benefits___item::before {
  border-radius: 1px;
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(#ff0000, #922f2f);
}

/* HORARIO DAS AULAS */

.classSchedule {
  background: #141414;
  padding: 80px 0;
  margin-bottom: 120px;
}

.classSchedule__container {
  max-width: 1160px;
  margin: 0 auto;
}

.classSchedule__calendar {
  margin-bottom: 20px;
  max-width: 1160px;
  margin: auto;
}

.classSchedule__daysWeek {
  margin-bottom: 20px;
}

.classSchedule__activities___card {
  background: #000;
  border-radius: 4px;
  display: inline-block;
  padding: 40px;
}

.classSchedule__daysWeek___btn {
  background: linear-gradient(#ff0000, #922f2f);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  border: 4px;
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.3s;
}

.classSchedule__daysWeek___btn:hover {
  background: #fff;
  color: #ff0000;
}

.classSchedule__activities___schedules {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.classSchedule__activities {
  display: grid;
  grid-template-rows: 3;
  gap: 40px;
}

.classSchedule__activities___row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.classSchedule__activities___schedules {
  margin-bottom: 20px;
}

.classSchedule__activities___schedules p {
  line-height: 1.11;
  margin-bottom: 4px;
}

.classSchedule__activities___btn {
  background: none;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  color: #ff0000;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 16px 32px;
}

.classSchedule__activities___btn:hover {
  background: linear-gradient(#ff0000, #922f2f);
  border: none;
  color: #ffdddd;
}

/* PREÇOS */

.prices {
  margin: auto;
  margin-bottom: 120px;
}

.prices__container {
  max-width: 1636px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.prices__carousel___list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prices__carousel___item {
  background: #141414;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  width: 300px;
}

.price__monthly::after {
  content: "";
  display: block;
  background: #292929;
  height: 2px;
  margin: 20px 0;
  width: 100%;
}

.price__monthly___title {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.015em;
  line-height: 1.33;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.price__annual___title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.015em;
  line-height: 1.33;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.price__monthly__value {
  color: #ff7575;
  font-size: 24px;
  font-weight: 700;
}
.price__annual__value {
  color: #ff0000;
  font-size: 40px;
  font-weight: 700;
}

.price__annual__value {
  margin-bottom: 8px;
}

.price__annual {
  margin-bottom: 20px;
}

.price__annual___observation {
  color: #fff;
  font-size: 12px;
}

.prices__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prices__paymentOptions {
  background: #141414;
  border-radius: 4px;
  max-width: 1160px;
  margin: auto;
  padding: 40px;
}

.prices__paymentOptions___list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prices__paymentOptions___item {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  gap: 8px;
}

.prices__paymentOptions___item::before {
  border-radius: 1px;
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(#ff0000, #922f2f);
}

/* PORQUE TREINAR NA STUDIO */

.differentials {
  background: #141414;
  box-shadow: inset 0px -120px #fff, inset 0px 120px #fff;
  margin-bottom: 120px;
}

.differentials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.differentials__content {
  align-self: center;
  max-width: 480px;
}

.differentials__item {
  margin-bottom: 20px;
}

.differentials__item h4 {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.differentials__item h4::before {
  border-radius: 1px;
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(#ff0000, #922f2f);
}

.differentials__item p {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}
