/* RESET CSS */
@import "./reset.css";
@import './origamid-menu.css';


/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif; */

/* CSS GLOBAL */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  padding-bottom: 600px;
}

.title {
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title--black {
  color: #141414;
}

.title__decorator {
  color: #ff0000;
}

.subtitle {
  color: #141414;
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* BOTÃO DE CHAMADA PARA MATRICULA */
.enrollmentButton {
  background: linear-gradient(#ff0000, #922f2f);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #ffdddd;
  border-radius: 4px; 
  font-weight: 600;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;

  transition: 0.3s;
}

.enrollmentButton:hover {
  background: #ff0000;
  color: #fff;
}

.enrollmentButton--d-inlineblock {
  display: inline-block;
}


/* HEADER */
.header {
  background: #141414;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 18px 0;
}

/* MENU PRINCIPAL DE NAVEGAÇÃO */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav__menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav__menu___item {
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.nav__menu___link {
  color: #fff;
  display: inline-block;
  padding: 16px 0;
  text-decoration: none;
  position: relative;
}

.nav__menu___link:hover, .ativo {
  color: #ff0000;
}

.nav__menu___link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ff0000;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.nav__menu___link:hover::after,
.ativo::after {
  width: 100%;
}

@media(max-width:800px){
  
}



/* INTRODUCAO */
.introduction {
  background: #141414;
  box-shadow: inset 0px -120px #fff;
  width: 100%;
  margin-bottom: 120px;
}

.introduction__container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 0 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.introduction__content {
  align-self: center;
}

.introduction__title {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.introduction__title--red {
  color: #ff0000;
}

.introduction__img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 32px;
}

/* MODALIDADES */

.activities {
  width: 100%;
}

.activities__container {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
}

.activities__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}

.activities__carousel___item {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 416px;
  width: 360px;
  position: relative;
}

.activities__carousel___img {
  height: 100%;
  width: 100%;
}

.activities__carousel___tag {
  background: linear-gradient(#FF0000,#922F2F);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  padding: 26px 0;
  width: 100%;
}

.activities__carousel___tagName {
  color: #ffdddd;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.activities__carousel___btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.activities__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.activities__details___content {
  align-self: center;
}

.activities__details___paragraph {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #525252;
}

.activities__benefits___list {
  margin-bottom: 40px;
}

.activities__benefits___item {
  margin-bottom: 16px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  color: #525252;
  font-weight: 700;
  align-items: center;
  gap: 8px;
}

.activities__benefits___item::before {
  border-radius: 1px;
  content:"";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(179.24deg, #FF0000 0.65%, #922F2F 143.45%);;
}