.s-header {
  background: #141414;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.s-header__container {
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.s-navigation__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.s-main__navigation ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.s-main__navigation ul li {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.s-main__navigation ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.s-main__navigation ul li a:hover {
  color: #ff0000;
}

@media (max-width: 800px) {
  .s-header {
    position: static;
    z-index: 0;
  }

  .s-header__container {
    flex-direction: column;
    justify-content: center;
    padding: 20px 12;
  }

  .s-header__logo {
    margin-bottom: 20px;
  }

  .s-navigation__wrapper {
    flex-direction: column;
  }

  .s-main__navigation ul {
    flex-direction: column;
  }

  .s-main__navigation ul li a {
    padding: 24px 48px;
  }

  .s-navigation__wrapper .s-btn {
    display: none;
  }
}
