.activities {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.activities__container {
  box-sizing: border-box;
  margin-bottom: 60px;
}

.activities__carousel {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities__carousel___list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.activities__carousel___item {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 416px;
  width: 360px;
  position: relative;
}

.activities__carousel___img {
  height: 100%;
  width: 100%;
}

.activities__carousel___tag {
  background: linear-gradient(#ff0000, #922f2f);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  padding: 26px 0;
  width: 100%;
}

.activities__carousel___tagName {
  color: #ffdddd;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.activities__carousel___btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.activities__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  margin: auto;
}

.activities__details___content {
  align-self: center;
}

.activities__details___paragraph {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #525252;
}

.activities__benefits___list {
  margin-bottom: 40px;
}

.activities__benefits___item {
  margin-bottom: 16px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  color: #525252;
  font-weight: 700;
  align-items: center;
  gap: 8px;
}

.activities__benefits___item::before {
  border-radius: 1px;
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(#ff0000, #922f2f);
}
