.s-creator {
  background: #141414;
  margin-bottom: 120px;
}

.s-creator__container {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.s-creator__content {
  align-self: center;
}

.s-creator__content p {
  margin-bottom: 20px;
  line-height: 1.25;
}

@media (max-width: 800px) {
  .s-creator {
    margin-bottom: 20px;
    padding: 20px 12px;
  }

  .s-creator__container {
    grid-template-columns: 1fr;
  }

  .s-creator__image___wrapper {
    display: none;
  }
}
