.differentials {
  background: #141414;
  box-shadow: inset 0px -120px #fff, inset 0px 120px #fff;
  margin-bottom: 120px;
}

.differentials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.differentials__content {
  align-self: center;
  max-width: 480px;
}

.differentials__item {
  margin-bottom: 20px;
}

.differentials__item h4 {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.differentials__item h4::before {
  border-radius: 1px;
  content: "";
  display: block;
  height: 6px;
  width: 12px;
  background: linear-gradient(#ff0000, #922f2f);
}

.differentials__item p {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}
