.s-differentials {
  background: #141414;
  box-shadow: inset 0px -120px #fff;
}

.s-differentials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 120px;
}

.s-differentials__image___wrapper {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 32px;
}

.s-differentials__content {
  align-self: center;
  max-width: 460px;
}

.s-differentials__list {
  color: #fff;
}

.s-differentials__list li {
  margin-bottom: 40px;
}

.s-differentials__list li h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.s-differentials__list li h3::before {
  content: "";
  display: block;
  background: linear-gradient(#ff0000, #922f2f);
  height: 6px;
  width: 12px;
}

.s-differentials__list li p {
  font-size: 18px;
  line-height: 1.33;
  margin-left: 24px;
}

@media (max-width: 800px) {
  .s-differentials {
    box-shadow: none;
  }

  .s-differentials__container {
    grid-template-columns: 1fr;
    padding: 40px 12px;
  }

  .s-differentials__image___wrapper {
    display: none;
  }
}
