.s-history {
  width: 100%;
  margin: 60px 0;
}

.s-history__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.s-history__content {
  align-self: center;
}

.s-history__content p {
  margin-bottom: 20px;
  line-height: 1.25;
}
