.s-history {
  width: 100%;
  padding: 60px 0;
}

.s-history__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.s-history__content {
  align-self: center;
}

.s-history__content p {
  margin-bottom: 20px;
  line-height: 1.25;
}

@media (max-width: 800px) {
  .s-history {
    padding: 40px 0;
  }

  .s-history__container {
    gap: 0px;
    grid-template-columns: 1fr;
    width: 90%;
  }

  .s-history__content {
    text-align: justify;
  }

  .s-history__image___wrapper img {
    display: none;
  }
}
