.s-introduction {
  background: #141414;
  box-shadow: inset 0px -120px #fff;
  padding: 80px 0;
}

.s-introduction__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.s-introduction__content {
  align-self: center;
  max-width: 460px;
}

@media (max-width: 800px) {
  .s-introduction {
    box-shadow: none;
    margin-bottom: 40px;
    padding: 40px 12px;
    text-align: center;
  }

  .s-introduction__container {
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 100%;
    margin: 0;
  }
}
