.s-modalities {
  width: 100%;
  padding: 80px 0;
}

.s-modalities__container {
  max-width: 1160px;
  margin: 0 auto;
}

.s-modalities__carousel___item {
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.s-modalities__carousel___image {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-modalities__carousel___tag {
  position: absolute;
  bottom: 20px;
  background: linear-gradient(#ff0000, #922f2f);
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

.s-modalities__carousel___tagName {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.s-modalities__tabcontent section {
  display: none;
}

.s-modalities__tabcontent section.ativo {
  display: block !important;
  animation: showDetails 0.5s forwards;
}

@keyframes showDetails {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.s-modalities__details {
  margin-bottom: 60px;
}

.s-modalities__details___container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.s-modalities__details___content {
  align-self: center;
  max-width: 360px;
  box-sizing: border-box;
}

.s-modalities__details___title {
  color: #141414;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.s-modalities__details___paragraph {
  color: #525252;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.s-modalities__details___benefits___title {
  color: #141414;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.s-modalities__details___benefits___item {
  color: #525252;
  margin-bottom: 16px;
  line-height: 1.33;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.s-modalities__details___benefits___item::before {
  content: "";
  display: block;
  background: linear-gradient(#ff0000, #922f2f);
  height: 6px;
  width: 12px;
  border-radius: 1px;
}

/* SWIPER */
.swiper {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff0000;
}

.swiper-pagination-bullet {
  background: #ff0000;
}

@media (max-width: 800px) {
  .s-modalities {
    padding: 40px 0;
  }

  .s-modalities__container {
    width: 90%;
  }

  .s-modalities__carousel___item {
    cursor: none;
  }

  .s-modalities__carousel___tagName {
    font-size: 18px;
  }

  .s-modalities__details___container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .s-modalities__details___container div img {
    display: none;
  }

  .s-modalities__details___title {
    font-size: 24px;
  }

  .s-modalities__details___paragraph {
    font-size: 16px;
  }

  .s-modalities__details___benefits___title {
    font-size: 18px;
  }
  .s-modalities__details___benefits___item {
    font-size: 14px;
  }
}
