.s-partners {
  width: 100%;
}

.s-partners__container {
  max-width: 1160px;
  margin: 0 auto;
}

.s-partners__carousel___item {
  background: #141414;
  border-radius: 4px;
  color: #fff;
  height: 300px;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.s-partners__carousel___item___title {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.s-partners__carousel___item___profession {
  display: inline-block;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.s-partners__carousel___item___description {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .s-s-partners {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s-partners__container {
    width: 90%;
    margin: 0;
  }
}
