.s-partners {
  width: 100%;
  margin-bottom: 120px;
}

.s-partners__container {
  max-width: 1160px;
  margin: 0 auto;
}

.s-partners__carousel {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.s-partners__slide___wrapper {
  display: flex;
  overflow: hidden;
}

.s-partners__slide {
  display: flex;
  align-items: center;
  gap: 40px;
}

.s-partner {
  background: #141414;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  padding: 40px;
  text-align: center;
  flex-shrink: 0;
  width: 360px;
}

.s-partner__title {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.s-partner__subtitle {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.s-partner__description {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .s-prev__partners,
  .s-next__partners {
    display: none;
  }
}
