.s-prices {
  width: 100%;
  margin-bottom: 120px;
}

.s-prices__container {
  max-width: 1160px;
  margin: 0 auto;
}

.s-prices__carousel {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.s-prices__slide___wrapper {
  display: flex;
  overflow: hidden;
}

.s-prices__slide {
  display: flex;
  align-items: center;
  gap: 40px;
}

.s-prices__slide li {
  background: #141414;
  border-radius: 4px;
  flex-shrink: 0;
  padding: 40px;
  text-align: center;
}

.s-prices__slide li h3 {
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.s-prices__plan {
  color: #ccc;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.015em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.s-prices__value {
  color: #ff7575;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.s-prices__plan--highlight {
  color: #fff;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.015em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.s-prices__value--highlight {
  color: #ff0000;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.month {
  margin-bottom: 20px;
}

.month::after {
  content: "";
  display: block;
  background: #292929;
  margin-top: 20px;
  height: 2px;
  width: 100%;
}

.year {
  margin-bottom: 8px;
}

.s-prices__observation {
  color: #fff;
  margin-bottom: 20px;
}

.payment {
  background: #141414;
  border-radius: 4px;
  padding: 40px;
}

.payments__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.payments__list li {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
}

.payments__list li::before {
  content: "";
  display: block;
  background: linear-gradient(#ff0000, #922f2f);
  border-radius: 1px;
  height: 6px;
  width: 12px;
}
