.s-schedules {
  background: #141414;
  color: #fff;
  margin-bottom: 120px;
}

.s-schedules__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 0;
}

.s-schedules__days___list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.s-schedules__days___list li a:hover {
  background: #ff9f9f;
  color: #ff0000;
}

.s-schedules__days___list li a.ativo {
  background: #ff9f9f;
  color: #ff0000;
}

.s-schedules__tabcontent section {
  display: none;
}

.s-schedules__tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

.s-schedules__content section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
