.s-schedules {
  background: #141414;
  color: #fff;
  margin-bottom: 120px;
  padding: 80px 0;
  width: 100%;
}

.s-schedules__container {
  max-width: 1160px;
  margin: 0 auto;
}

.s-schedules__days {
  margin-bottom: 20px;
}

.s-schedules__days ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.s-schedules__days ul li {
  background: linear-gradient(#ff0000, #922f2f);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 12px 24px;
}

.s-schedules__days ul li:hover,
.s-schedules__days ul li.ativo {
  background: #fff;
  color: #ff0000;
}

.s-schedules__classes__list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.s-schedules__classes__list li {
  background-color: #000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
  height: 266px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s-schedules__classes__list li h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.s-schedules__classes__times p:first-child {
  color: #b8b8b8;
  text-transform: uppercase;
  margin-bottom: 20;
}

.s-schedules__classes__times p {
  margin-bottom: 12px;
}

.s-tabcontent__schedules section {
  display: none;
}

.s-tabcontent__schedules section.ativo {
  display: block !important;
  animation: showdetails 0.5s forwards;
}

@media (max-width: 800px) {
  .s-schedules__days ul {
    flex-direction: column;
  }

  .s-schedules__days ul li {
    margin-bottom: 20px;
    padding: 24px 48px;
    width: 80%;
  }

  .s-schedules__classes__list li {
    height: 266px;
    width: 90%;
  }
}
